:root {
    --primery-text-color: #212121;
    --secondary-text-color: #757575;
    --main-white: #ffffff;
    --blue-accent: #2196F3;
    --footer-mail-tel-color: rgba(255, 255, 255, 0.6);
    --main-background-color: #2F303A;
}

body {
    color: var(--primery-text-color);
    background-color: var(--main-white);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
/* header */

.conteiner {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

p {
    margin: 0;
}

/* header */

.header {
    border-bottom: 1px solid #ECECEC;
}
.header-nav {
    margin: 0;
    padding: 0;
}
.header-address {
    margin: 0;
    padding: 0;
}
.main-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: Raleway, sans-serif;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
}

.logo-blue {
    color: var(--blue-accent);
}

.nav, .header-nav {
    display: flex;
    align-items: center;
}

.header-nav {
    margin-left: 93px;
}

.header-nav .item:not(:last-child) {
    margin-right: 50px;
}

.header-nav a {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primery-text-color);
    text-decoration: none;
}
.header-nav, .link.current {
    color: var(--blue-accent);
}

.header-address {
    display: flex;
    margin-left: auto;
}

.header-address .item + .item {
    margin-left: 50px;
}
.header-address a {
    color: var(--secondary-text-color);
    text-decoration: none;
}

.header-nav, .header-address {
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

    
    list-style: none;
}

.header-nav .link:hover, .header-nav .link:focus,
.header-address .link:hover,.header-address .link:focus {
    color: var(--blue-accent);
}


.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* main page banner */

.banner {
    background-color: var(--main-background-color);
    letter-spacing: 0.06em;
    text-align: center;
}
.banner-text {
    color: var(--main-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}
.banner-button {
    color: var(--main-white);
    background-color: var(--blue-accent);
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 4px;
    padding: 10px 32px;
    border: transparent;
}


/* info */

.info {
    padding-top: 94px;
}
.info-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.info-head {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-top: 94px;
    margin-bottom: 0;
}
.info-text {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.71;
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
}

.info-list .item:not(:last-child) {
    margin-right: 30px;
}

/* what we do */

.our-work {
    padding-top: 94px;
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin: 0;
}
.work-list .item {
    list-style: none;
    margin: 0;
    margin-top: 50px;
}
.work-list {
    display: flex;
    margin: 0;
    padding: 0;
}
.work-list .item:not(:last-child) {
    margin-right: 30px;
}

/* our team */

.team {
    padding-top: 94px;
}
.team-list .item {
    list-style: none;
    margin: 0;
    margin-top: 50px;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin: 0;
    margin-top: 30px;

}
.team-position {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-top: 10px;

}
.team-list {
    display: flex;
    margin: 0;
    padding: 0;
}
.team-list .item:not(:last-child) {
    margin-right: 30px;
}


/* footer */


.footer .logo {
    color: var(--main-white);
}
.footer-address {
    list-style: none;
    text-decoration: none;
    margin: 0;
    margin-top: 20px;
    padding: 0;
}
.footer-address .item:not(:first-child) {
    margin-top: 9px;
}

.footer-address .link:hover, .footer-address .link:focus {
    color: var(--blue-accent);
}
.footer-address a {
    text-decoration: none;
    font-style: normal;
}
.link.contact {
    font-size: 14px;
    line-height: 1.71;
    color: var(--footer-mail-tel-color);
}
.link.address {
    font-size: 14px;
    line-height: 1.71;
    color: var(--main-white);
}

.footer {
    background-color: var(--main-background-color);
}

.footer .conteiner {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* portfolio main */


.port-title {
    color: var(--main-white);
    margin: 0;
}
.portfolio-nav {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    justify-content: center;
}

.portfolio-nav .item + .item {
    margin-left: 8px;
}
.portfolio-nav .item {
    list-style: none;
}


.portfolio-button {
    background-color: #F5F4FA;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    border-radius: 4px;
    border: transparent;
    padding: 6px 22px;
}
.portfolio-button:hover {
    color: var(--main-white);
    background-color: var(--blue-accent);
}

/* Our projects */

.our-project {
    list-style: none;
    margin: 0;
    margin-top: 34px;
}

.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    list-style: none;
    margin: 0;
    padding-left: 24px;
    padding-top: 20px;
}
.product {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.87;
    margin: 0;
    padding-top: 4px;
    padding-left: 24px;
    padding-bottom: 20px;
}
.our-project a {
    text-decoration: none;
    color: var(--primery-text-color);
}

.our-project {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.our-project .item {
    margin-right: 30px;
    margin-bottom: 30px;

    border-bottom: 1px solid #EEEEEE;

    background: #FFFFFF;
    /* border-bottom-width: 1px solid #EEEEEE; */
}
.our-project .item:nth-child(3n) {
    margin-right: 0;
}

.our-project .item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
